<!DOCTYPE html>
<html lang = "en">
  <head>
      <title>Calender</title>
      <meta charset="utf-8">
      <meta http-equiv="x-ua-compatible" content="ie=edge">
      <meta name="viewport"
            content="width=device-width, initial-scale=1, shrink-to-fit=no">
      <%= stylesheet_link_tag "site" %>
      <%= javascript_include_tag "site" %>
  </head>
  <body>
   <!-- Creates Calender Page that grabs calender form Google Calenders-->
    <div class = calender style="padding: 10px;">
        <h1> Zhiqiang Lin (zlin@cse.ohio-state.edu) Calender </h1>
        <iframe src="https://www.google.com/calendar/embed?title=Zhiqiang%20Lin%20(zlin%40cse.ohio-state.edu)&height=600&bgcolor=%23FFFFFF&src=zlin61%40gmail.com&mode=WEEK&color=%232952A3&ctz=America/Eastern" title="Zhiqiang Lin Calender"> </iframe>
    </div>
  </body>
</html>
